<?xml version="1.0" encoding="UTF-8"?>
<web-app id="pizza4" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>music4</display-name>
	<!--  to handle requests to local path music4/ -->
	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- for SystemTestServlet -->
	<servlet>
		<description>SystemTest Servlet</description>
		<display-name>SysTestServlet</display-name>
		<servlet-name>SysTestServlet</servlet-name>
		<servlet-class>cs636.music.presentation.web.SysTestServlet</servlet-class>
		<init-param>
			<param-name>compilerSourceVM</param-name>
			<param-value>1.7</param-value>
		</init-param>
		<init-param>
			<param-name>compilerTargetVM</param-name>
			<param-value>1.7</param-value>
		</init-param>	
	</servlet>
	<servlet-mapping>
		<servlet-name>SysTestServlet</servlet-name>
		<url-pattern>/servlet/SystemTest</url-pattern>
		<!-- not load-on-startup (i.e. load-when-needed) -->
	</servlet-mapping>
	<servlet>
		<description>MVC Dispatcher Servlet</description>
		<display-name>DispatcherServlet</display-name>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>cs636.music.presentation.web.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>compilerSourceVM</param-name>
			<param-value>1.7</param-value>
		</init-param>
		<init-param>
			<param-name>compilerTargetVM</param-name>
			<param-value>1.7</param-value>
		</init-param>	
		<!-- make this servlet load at web app startup (including redeployment) -->
		<load-on-startup>1</load-on-startup>  
	</servlet>
	<!-- We use *.html for page-to-page URLs in this app: all these URLs 
	    point to the DispatcherServlet, which knows all the controllers -->
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>